.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
}

* {
    font-family: "League Spartan", serif;
}

body {
    background-image: url("../images/bg-pattern-top-desktop.svg"), url(../images/bg-pattern-bottom-desktop.svg);
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
    background-size: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
    line-height: normal;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1rem;
    margin: 0;
    padding-bottom: 0;
    border: 1px solid green;
}

h3 {
    font-size: 1.2rem;
    font-weight: 500;
    border: 1px solid rgb(58, 124, 58);
}

img {
    margin-right: 1rem;
    width: 3rem;
}

li {
    color: hsl(300, 43%, 22%);
    background-color: hsl(300, 24%, 96%);
    padding: 10px 20px;
    margin-bottom: 10px;
}

li::before {
    content: "★★★★★ ";
    color: rgb(230, 173, 67);
    font-size: 1.2rem;
    background-color: hsl(300, 24%, 96%);
    margin: 0 12px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: auto;
}

ul {
    margin: auto;
    list-style: none;
}

.avis-colton, .avis-irene, .avis-anne {
    border: 1px solid red;
    padding: 2.5rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avis-anne {
    position: relative;
    top: 30px;
}

.who {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.avis-irene {
    position: relative;
    top: 15px;
}

.bot-page{
    border: 3px solid blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    position: relative;
    height: 45%;
}

.presentation {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 0 5rem 5rem 0;
}

.top-page, .bot-page {
    display: flex;
}
